# Git
.github/        export-ignore
.gitattributes  export-ignore
.gitignore      export-ignore

# Screenshots
preview.*       export-ignore

# Development
tests/          export-ignore
*.cmd           export-ignore
